.App {
  text-align: center;
  background: linear-gradient(135deg, #7d5239, #f4a852);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Created CSS */

.Title {
  margin: 0;
  padding-top: 18%;
  padding-left: 60px;
  width: 0;
  text-align: left;
  font-size: 80px;
  color: white;
  overflow: hidden;
  animation:
    typing 4s forwards normal;
  white-space: nowrap;
  text-shadow: 3px 3px black;
  overflow: hidden;
}

.secondTitle {
  margin: 0;
  padding-left: 60px;
  padding-top: 0;
  width: 0;
  text-align: left;
  overflow: hidden;
  font-size: 80px;
  white-space: nowrap;
  color: white;
  animation:
    typing 4s forwards normal;
  overflow: hidden;
  text-shadow: 3px 3px black;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

.subtext {
  margin: 0;
  margin-top: 10px;
  padding-left: 70px;
  width: 0;
  overflow: hidden;
  text-align: left;
  color: white;
  white-space: nowrap;
  text-shadow: 2px 2px black;
  font-size: 20px;
  animation: typing 4s forwards normal;
  animation-delay: 0.8s;
}

.trendingBooksSection {
  margin-top: 50vh;
  height: 100vh;
  background-color: white;
}

.trendingTitle {
  margin: 0;
  padding-left: 60px;
  padding-top: 0;
  width: 0;
  text-align: left;
  overflow: hidden;
  font-size: 80px;
  white-space: nowrap;
  color: white;
  animation:
    typing 4s forwards normal;
  overflow: hidden;
  text-shadow: 3px 3px black;
}

.bookImage {
  margin-left: 700px;
  margin-top: -300px;
  animation: fade-in 2s ease-in-out normal;
  z-index: 2;
  position: relative;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.bookBackground {
  position: fixed;
  margin-top: -410px;
  margin-left: 58.5%;
  z-index: 1;
}